package-lock.json
deploy.sh
node_modules
build
contracts/artifacts
log/development-deployed.json
.openzeppelin/.session
.DS_Store

# Hardhat files
cache/
artifacts/

# OpenZeppelin dev files
.openzeppelin/unknown-*.json
